# Supabase
VITE_SUPABASE_URL=https://nlqhbkxlhbrkktqhbnus.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5scWhia3hsaGJya2t0cWhibnVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxODk1MTcsImV4cCI6MjEwMTc2NTUxN30.houULAfgLUtPB0pXG3j6cYJH3tgXgInAeySpCauSzWs